.css-1lvimkc-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #ffffff !important;
    border: none !important;
    background-color: black !important;
  }
  
  .tabMenu{
    border: 1px solid lightgray !important;
  }